﻿@model Boolean?

@{
    var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
    var proName = ViewData.ModelMetadata.PropertyName;
    var ngModel = "";

    if (myVar != null)
    {
        if (myVar.Keys.Any(p => p.Equals("v-model")))
        {
            //        myVar.Add("v-model", "model." + proName);
            ngModel = "model." + myVar["v-model"];
        }
    }
    else
    {
        ngModel = "model." + proName;
    }

    if (ngModel != "")
    {
        //
    }

}

<tr>
    <td class="detail-lable">
        @Html.LabelFor(m => m)
    </td>
    <td>
        @*<div class="checkbox readonly">
                <label>
                    @*<input type="checkbox" v-model="@ngModel" readonly="readonly" onclick="return false;">
                    <span class="text readonly"></span>
                </label>
            </div>*@
        @*{{ @ngModel}}*@
        <div class="checkbox readonly" style="padding-top: 0px;">
            <label>
                <i class="fa fa-square-o" ng-show="!@ngModel" style="font-size: 16pt; color: #dedede;"></i>
                <i class="fa fa-check-square" ng-show="@ngModel" style="font-size: 16pt; color: #4d99ff;"></i>
                <span class="text readonly"></span>
            </label>
        </div>
    </td>
</tr>
