@model object


@{
    var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
    var proName = ViewData.ModelMetadata.PropertyName;
    var ngModel = "";

    if (myVar != null)
    {
        if (myVar.Keys.Any(p => p.Equals("ng-model")))
        {
            //        myVar.Add("ng-model", "model." + proName);
            ngModel = "model." + myVar["ng-model"];
        }
    }
    else
    {
        ngModel = "model." + proName;
    }
    
}
<tr>
    <td class="detail-lable">
        @Html.LabelFor(m => m)
    </td>
    <td>
        @*@Model*@

        {{ @ngModel}}
    </td>
</tr>