﻿@using ADS.Domain.Models
@using ADS.Labor.Utils
@model List<Menu>
@{
    var currentController = "";
    var currentAction = "";
    if (ViewContext.RouteData.Values.ContainsKey("action") && ViewContext.RouteData.Values.ContainsKey("controller"))
    {
        currentController = ViewContext.RouteData.Values["controller"].ToString();
        currentAction = ViewContext.RouteData.Values["action"].ToString();
    }
    
    
    foreach (var menuItem in Model)
    {


        if (ViewContext.RouteData.Values.ContainsKey("action") && ViewContext.RouteData.Values.ContainsKey("controller"))
        {
            if (menuItem.Controller == currentController && menuItem.Action == currentAction)
            {
                menuItem.IsActive = true;
            }
        }

        if (menuItem.Childs!=null && menuItem.Childs.Any())
        {
            foreach (var child in menuItem.Childs)
            {
                if (ViewContext.RouteData.Values.ContainsKey("action") && ViewContext.RouteData.Values.ContainsKey("controller"))
                {


                    if (child.Controller == currentController && child.Action == currentAction)
                    {
                        child.IsActive = true;
                    }
                }
            }            
        }
    }
}


<ul class="nav sidebar-menu">
    @foreach (var menuItem in Model)
    {

        if (menuItem.Childs != null && menuItem.Childs.Any())
        {
            var nodeClass = menuItem.Childs.Any(m => m.IsActive) ? "active open" : "";
            <li class="@nodeClass">
                <a href="#" class="menu-dropdown active">
                    <i class="menu-icon @menuItem.Image"></i>
                    <span class="menu-text"> @menuItem.Title </span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="submenu">
                    @foreach (var subMenuItem in menuItem.Childs)
                    {
                        var chiledNodeClass = subMenuItem.IsActive ? "active" : "";
                        <li class="@chiledNodeClass">@Html.ActionLinkBeyondMenu(subMenuItem.Title, subMenuItem.Action, subMenuItem.Controller)</li>
                    }
                </ul>
            </li>
        }
        else
        {
            var nodeClass = menuItem.IsActive == true ? "active" : "";
            <li class="@nodeClass">
                <a href="@Url.Action(menuItem.Action, menuItem.Controller)">
                    <i class="menu-icon @menuItem.Image"></i>
                    <span class="menu-text">@menuItem.Title</span>
                </a>
            </li>
        }

    }
</ul>
