@using rupoi.Utils
@model object

@{

    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();

    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
        foreach (var prop in myVar)
        {
            htmlAttributes.Add(prop.Key, prop.Value);
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }

    htmlAttributes.Add("v_model", "model." + proName);

    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("MaxLength"))
    {
        var maxLength = (int)ViewData.ModelMetadata.AdditionalValues["MaxLength"];

        htmlAttributes.Add("maxlength", maxLength.ToString());
    }
    htmlAttributes.Add("type", "date");

    var vModel = "model." + proName;


}

<div class="form-group">
    @Html.AdsLabelFor(m => m)

    @Html.TextBox(
         "",
         ViewData.TemplateInfo.FormattedModelValue,
         htmlAttributes)
    @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block text-danger", @ng_model = "errorModel." + proName })*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
@*
    <input asp-for="@Model" class="form-control"
           v-model="@vModel"
           data-valmsg-for="Email" />*@


    @if (!string.IsNullOrEmpty(ViewBag.HelpText))
    {
        <span id="helpBlock" class="help-block">@ViewBag.helptext</span>
    }

</div>