@model DateTime?

@{
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model;
    }
    else
    {
        dt = DateTime.Now;
    }

    var proName = ViewData.ModelMetadata.PropertyName;
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.TextBoxFor(m => m, new { @class = "form-control datepicker", data_provide = "datepicker", data_date_language = "globalize", data_date = dt, data_date_format = System.Threading.Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern.Replace("M", "m"), data_date_today_highlight = "true", data_date_today_btn = "false" })
    
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>