@using rupoi.Utils
@model decimal?

@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();

    var proName = ViewData.ModelMetadata.PropertyName;

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
        foreach (var prop in myVar)
        {
            htmlAttributes.Add(prop.Key, prop.Value);
        }
    }

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }

    if (ViewBag.ClearTextField == true)
    {
        htmlAttributes.Add("class", "form-control clear-text-field input-block-level");
    }
    else
    {
        htmlAttributes.Add("class", "form-control input-block-level");
    }
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.AdsLabelFor(m => m)
    @*<div class="input-group">*@
        @*<span class="input-group-addon">&euro;</span><span>*@
        @Html.TextBox(
          "",
          Model == null ? "" : /*String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:F2}", ViewData.ModelMetadata.Model)*/ ViewData.ModelMetadata.Name.ToString(),
               htmlAttributes)
        @*</span>*@
    @*</div>*@
    @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>
