@using rupoi.Utils
@model dynamic

@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.CustomAttribute != null && ViewBag.CustomAttribute is Dictionary<string, string>)
    {
        var dictionary = ViewBag.CustomAttribute as Dictionary<string, string>;
        foreach (KeyValuePair<string, string> pair in dictionary)
        {
            htmlAttributes.Add(pair.Key, pair.Value);
        }
    }

    if (ViewBag.CustomAttribute != null && !(ViewBag.CustomAttribute is Dictionary<string, string>))
    {
        var myVar = ViewBag.CustomAttribute;
        foreach (var prop in myVar.GetType().GetProperties())
        {
            var propName = prop.Name;
            if (propName == "data_bind")
            {
                propName = "data-bind";
            }
            htmlAttributes.Add(propName, prop.GetValue(myVar, null));
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.AdsLabelFor(m => m)

    @{
        var source = new List<SelectListItem>();
        if (ViewBag.Collection != null)
        {
            if (ViewBag.Collection is Dictionary<int, string>)
            {
                //source.Add(new SelectListItem { Text = string.Empty, Value = "0" });
                source.Add(new SelectListItem { Text = string.Empty, Value = string.Empty });
                var collection = (Dictionary<int, string>)ViewBag.Collection;
                foreach (var item in collection)
                {
                    var listItem = new SelectListItem
                    {
                        Text = item.Value,
                        Value = item.Key.ToString()
                    };
                    if (Model != null && item.Key.ToString() == Model.ToString())
                    {
                        listItem.Selected = true;
                    }

                    source.Add(listItem);
                }
            }
            else if (ViewBag.Collection is Dictionary<string, string>)
            {
                source.Add(new SelectListItem { Text = string.Empty, Value = string.Empty });
                var collection = (Dictionary<string, string>)ViewBag.Collection;
                foreach (var item in collection)
                {
                    var listItem = new SelectListItem
                    {
                        Text = item.Value,
                        Value = item.Key
                    };
                    if (Model != null && item.Key == Model.ToString())
                    {
                        listItem.Selected = true;
                    }

                    source.Add(listItem);
                }
            }
            else
            {
                source.Add(new SelectListItem { Text = string.Empty, Value = string.Empty });
                foreach (var item in ViewBag.Collection)
                {
                    var listItem = new SelectListItem
                    {
                        Text = item.Caption.ToString(),
                        Value = item.Id.ToString()
                    };
                    if (Model != null && item.Id.ToString() == Model.ToString())
                    {
                        listItem.Selected = true;
                    }

                    source.Add(listItem);
                }
            }
        }
        else
        {
            source.Add(new SelectListItem { Text = string.Empty, Value = string.Empty });
        }
    }

    @if (source.Any(v => v.Selected))
    {
        @Html.DropDownListFor(m => m, source, htmlAttributes)
    }
    else
    {
        @*@Html.DropDownListFor(m => m, source, string.Empty, htmlAttributes)*@
        @Html.DropDownListFor(m => m, source, htmlAttributes)
    }
    @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>