@using rupoi.Utils

@model int?

@{
    int i;
    if (!Model.HasValue)
    {
        i = 0;
    }
    else
    {
        i = Model.Value;
    }

    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }

    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = (IDictionary<string, string>)ViewBag.CustomAttribute;
        foreach (var prop in myVar)
        {
            htmlAttributes.Add(prop.Key, prop.Value);
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }
}

<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    @Html.AdsLabelFor(m => m)
    @Html.TextBox(
        "",
        ViewData.TemplateInfo.FormattedModelValue,
        htmlAttributes)
    @*@Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })*@
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>
