﻿@using rupoi.Utils
@model dynamic
@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    if (ViewBag.CustomAttribute != null && ViewBag.CustomAttribute is Dictionary<string, string>)
    {
        var dictionary = ViewBag.CustomAttribute as Dictionary<string, string>;
        foreach (KeyValuePair<string, string> pair in dictionary)
        {
            htmlAttributes.Add(pair.Key, pair.Value);
        }
    }

    if (ViewBag.CustomAttribute != null && !(ViewBag.CustomAttribute is Dictionary<string, string>))
    {
        var myVar = ViewBag.CustomAttribute;
        foreach (var prop in myVar.GetType().GetProperties())
        {
            var propName = prop.Name;
            if (propName == "data_bind")
            {
                propName = "data-bind";
            }
            htmlAttributes.Add(propName, prop.GetValue(myVar, null));
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }

}
<div class="form-group" ng-class="{'has-error':errorModel.@(proName)}">
    <table>
        <tr>
            <td>
                @Html.AdsLabelFor(m => m)
            </td>
            <td style="white-space: nowrap; padding: 0px 15px;">
                <span star-rating v-model="model.@(proName)"></span>
            </td>
        </tr>
    </table>
    <span class="field-validation-valid help-block text-danger" ng-bind-html="errorModel.@proName"></span>
</div>
