@model Boolean?

@{
    IDictionary<string, object> htmlAttributes = new System.Dynamic.ExpandoObject();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", ViewBag.@class);
    }

    if (ViewBag.CustomAttribute != null)
    {
        var myVar = ViewBag.CustomAttribute;
        foreach (var prop in myVar.GetType().GetProperties())
        {
            htmlAttributes.Add(prop.Name, prop.GetValue(myVar, null));
        }
    }

    var proName = ViewData.ModelMetadata.PropertyName;

    if (!htmlAttributes.Keys.Any(p => p.Equals("v-model")))
    {
        htmlAttributes.Add("v-model", "model." + proName);
    }
}





<label>
    @Html.CheckBox(
        "",
        Model.HasValue && Model.Value,
        htmlAttributes)
    <span class="text"></span>
</label>
@Html.ValidationMessageFor(m => m, null, new {@class = "text-danger"})
    


